@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td,section,canvas {
    padding: 0;
    margin: 0;
}
li{ list-style: none;}

@font-face {
    font-family: "fontzkklt";
    src: url('../images/fontzkklt.TTF');
    font-style: normal;
    font-weight: normal;
}

html,body {
    font-size: 22px;
    color: #000;
    font-family: 'Microsoft YaHei', Arial;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #fff;
    -webkit-touch-callout:none; /* 禁用长触弹出的下载图片菜单 */
    -webkit-user-select:none; /* 禁用长触选择文字等功能 */
}
.hide{ display: none;}

.loading{ position: absolute; top: 0; left: 0; width: 100%; height:100%;}
.loading>div{position: relative; top: 50%; left: 50%;}
.loadingImg{margin-left: -150px; margin-top: -100px;}
.loadingtxt{margin: 50px 0 0 -55px;font-size:24px;width:100px;height:30px;line-height: 30px; color: #000;text-align: center; }

.main{ width: 100%; height: 100%;position: relative; overflow: hidden; text-align: center; line-height: 100%;}
.page{ width: 100%; height: 100%;  position: relative;}
.page>div{ position: relative; overflow: hidden; width: 100%; height: 100%; background-repeat: no-repeat; background-position: center center;}
.page .page1{}
.page1>div{ position: absolute; top: 50%; left: 50%;}

.game-rule{width: 640px; height: 1039px; background: url("../images/bg.jpg") no-repeat center center; margin: -520px 0 0 -320px;}
.game-rule>div{position: absolute; left: 50%; top: 50%; }
.p1-0{margin: -373px 0 0 -283px;}
.p1-1{margin: 209px 0 0 -119px;}
.p1-5{width: 100%; height: 100%; margin: -520px 0 0 -320px; background-color: rgba(0,0,0,.2);}
.p1-5>img{position: absolute; left: 0; top: 0;}
.p1-5-1{ margin: 145px 0 0 22px; }
.p1-5-2{ margin: 169px 0 0 550px; }
.p1-5-3{ margin: 839px 0 0 62px; }
.p1-5-4{ margin: 839px 0 0 335px; }

.game-ranke{width: 640px; height: 1039px; margin: -520px 0 0 -320px; background-color: rgba(0,0,0,.2);}
.p1-6{background: url("../images/p1-6.png") no-repeat center center; width: 584px; height: 671px; margin: 145px 0 0 22px;  }
.ranke-box{position: absolute; left: 0; top: 0; width: 500px;  height: 480px; margin: 268px 0 0 76px;}

.p1-6-2{position: absolute; left: 0; top: 0; margin: 169px 0 0 550px}
.s-ul{ width: 99%; position: absolute; left: 0; top: -10px;  }
.s-ul>li{width: 99%; height: 58px; border: 1px solid #fff; margin-top: 10px; border-radius: 15px;}
.s-r{width: 30%; display: inline-block; line-height: 58px;}
.s-n{width: 40%; display: inline-block; line-height: 58px; }
.s-c{width: 30%; display: inline-block; line-height: 58px;}
.s-ul>li>span{height: 58px; overflow: hidden;}

.game-footer{position: absolute; bottom: 60px; width: 100%; }
.game-footer>p{margin-top: 20px; font-size: 28px; color: #fff; }

.game-screen{width: 640px; height: 1039px; margin: -520px 0 0 -320px;}
/*.game-box{position: absolute; left: 50%; top: 50%;}*/
.game-ul{width: 560px; height: 560px; position: absolute; left: 0; bottom: 0; }
.game-box{width: 560px; height: 560px; position: absolute; left: 50%; top: 50%;  margin: -360px 0 0 -280px; }
.game-ul>li{position: absolute; left: 0; bottom: 0; border: 1px solid #fff; border-radius: 15px; color: aqua}
.game-ul>li>img{text-align: center; margin-top: 12px;}
.game-hero{width: 75px; height: 75px;position: absolute; left: 0; bottom: 0; }
.game-hero>img{text-align: center;}
.g-s-b{position: absolute; left: 50%; margin-left: -185px; margin-top: 761px;}
.g-l{width: 320px; height: 1039px; position: absolute; left: 50%; top: 50%;  margin: -520px 0 0 -320px; }
.g-r{width: 320px; height: 1039px; position: absolute; left: 50%; top: 50%;  margin: -520px 0 0 0px; }
.g-score{position: absolute; left: 50%; margin-left: -165px; font-family: fontzkklt; font-size: 47px; color: #fff;  padding: 20px; background: url("../images/score-bg.png") no-repeat center center; height: 67px; width: 310px; line-height: 67px;  background-size: 100% 100%; display: inline;}
.d-score{position: absolute; left: 0%; width: 640px; height: 67px;  margin-top: 50px;}
.g-count{position: absolute; left: 50%; top: 50%;}
.g-count>p{position: absolute; top: 0;}
.g-c-1{margin-top: 250px; width: 100%; text-align: center;}
.g-c-2{margin-top: 790px; width: 100%; text-align: center;}

.game-over{}
.game-over>div{position: absolute; left: 0; top: 0;}
.p2-1{margin:256px 0 0 61px;}
.p2-2{margin: 395px 0 0 22px; background: url("../images/p2-2.png") no-repeat center center; width: 584px; height: 321px;}
.p2-3{margin: 780px 0 0 199px;}
.g-o-score{font-size: 58px; margin-top: 110px;}
.g-o-score>span{font-family: fontzkklt; font-size: 108px; color: red;}
.g-o-text{margin-top: 80px; font-size: 40px; }

.game-form{}
.game-form>p{position: absolute;  top: 0; width: 100%; text-align: center; }
.game-form>div{position: absolute; left: 0; top: 0;}
.g-f-box{margin: 305px 0 0 22px; background: url("../images/p2-2.png") no-repeat center center; width: 584px; height: 321px;}
.g-f-box input{position: absolute; left: 0; top: 0;}
.name{ margin: 82px 0 0 72px; }
.phone{ margin: 174px 0 0 72px; }
.form-all{width: 450px; height: 65px; border: 2px solid #fff; font-size: 27px; text-align: center;background-color: #e2bd81; border-radius: 10px;}
.g-f-1{color: #fff; font-size: 45px; margin-top: 140px; }
.g-f-2{color: #fff; font-size: 45px; margin-top: 200px; }
.g-f-3{margin-top: 655px; color: #fff; font-size: 28px;}
.g-f-4{margin-top: 710px; color: #fff; font-size: 45px;}
.g-f-5{margin: 780px 0 0 199px;}

.game-succeed{width: 640px; height: 1039px; margin: -520px 0 0 -320px;}
.game-succeed>div{position: absolute; left: 50%; top: 50%;}
.gs-1{margin: -352px 0 0 -256px;}
.gs-2{margin: 244px 0 0 -256px;}
.gs-3{margin: 244px 0 0 15px;}

.game-ul>li,.game-hero,.game-ul{
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 0;
}


.f{width: 640px; height: 1039px;  margin: -520px 0 0 -320px; background-color: rgba(0,0,0,.2)}

/*音乐按钮*/
.musicicon{ background: url("../images/musicicon.png") no-repeat; width: 42px; height: 43px; position: absolute; top: 20px; right: 20px;}

/*音乐按钮旋转*/
.musicrotate{-webkit-animation: xuanzhuan 5s infinite linear; animation: xuanzhuan 5s infinite linear;}
@keyframes xuanzhuan {
    0% { transform: rotate(0deg)}
    100% { transform: rotate(360deg)}
}
@-webkit-keyframes xuanzhuan {
    0% { -webkit-transform: rotate(0deg)}
    100% { -webkit-transform: rotate(360deg)}
}
/*音乐按钮旋转*/

/*iscroll*/
#wrapper {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/*iscroll*/

@-moz-keyframes shake{0%{-moz-transform:scale(1);}
    10%,20%{-moz-transform:scale(0.9) rotate(-3deg);}
    30%,50%,70%,90%{-moz-transform:scale(1.1) rotate(3deg);}
    40%,60%,80%{-moz-transform:scale(1.1) rotate(-3deg);}
    100%{-moz-transform:scale(1) rotate(0deg);
    }}

@-webkit-keyframes shake{0%{-webkit-transform:scale(1);}
    10%,20%{-webkit-transform:scale(0.9) rotate(-3deg);}
    30%,50%,70%,90%{-webkit-transform:scale(1.1) rotate(3deg);}
    40%,60%,80%{-webkit-transform:scale(1.1) rotate(-3deg);}
    100%{-webkit-transform:scale(1) rotate(0deg);}}
/*图片抖动*/

.shake{webkit-animation: shake 1s .2s infinite linear;  animation: shake 1s .2s infinite linear;}



